---
footer: |
  Hi I'm Dan Liu.  

  Here I write about my solutions to problems I encounter  
  as I color [watchable](http://c21.pspegg.co) videos   
  and make [readable](http://btp.pspegg.co) websites.

  I'm [@pspEgg](http://twitter.com/pspEgg) on twitter.

  


---

<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" >
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0">

  <link rel="stylesheet" href="/css/main.css">

  {% include typekit.html %}

  </head>
  <body>
    <div class="wrapper">
      
      <div class="masthead">
        <div class="illustration">
        {% if page.illustration %}
            <img src="{{page.illustration}}">
        {% else %}
            {% for p in site.posts %}
              {% if p.illustration %}
                  <img src="{{p.illustration}}">
              {% else %}
              {% endif %}
            {% endfor %}
        {% endif %}
      </div>

        <div class="logo-wrapper">
          <a class="home-link" href="/">
            <h1>{% include logo.html %}</h1>
          </a>
        </div>
      </div>

      <div class="content">
        {{content}}
      </div>

      <div class="footer">
        {{page.footer | markdownify}}
      </div>

    </div>

    {% include analytics.js.html %}

  </body>

</html>
